body{
  margin: 140px;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
}

a{
  text-decoration: none;
}

a.logo{
  background: url("img/nerds-logo.svg");
  display: block;
  height: 65px;
  width: 160px;
}

a.logo:hover,
a.logo:focus{
  background: url("img/nerds-logo_focus.svg");
  display: block;
  height: 65px;
  width: 160px;
}

a.logo:active{
  background: url("img/nerds-logo_active.svg");
  display: block;
  height: 65px;
  width: 160px;
}

header{
  background-color: #eeeeee;
}

.main-navigation li{
  line-height: 30px;
  text-transform: uppercase;
  list-style: none;
}

.menu:hover,
.menu:focus{
  color: #fb565a;
}

.menu:active{
  color: rgba(0, 0, 0, 0.3);
}

h1,
.services{
  display: none;
}

.service-item p{
  color: #283136;
  text-align: left;
}

.service-item h3{
  font-family: inherit;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.service-item a{
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.item1::before{
  display: flex;
  content: "";
  width: 300px;
  height: 146px;
  background-image: url(../img/advantage-picture-red.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
}

.item2::before{
  display: flex;
  content: "";
  width: 300px;
  height: 146px;
  background-image: url(../img/advantage-picture-green.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
}

.item3::before{
  display: flex;
  content: "";
  width: 300px;
  height: 146px;
  background-image: url(../img/advantage-picture-yellow.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
}

.button2{
  width: 160px;
  height: 50px;
  vertical-align: middle;
  background-color: #fb565a;
}

.button2:hover,
.button2:focus{
  background-color: #e74246;
}

.button2:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.button3{
  width: 160px;
  height: 50px;
  vertical-align: middle;
  background-color: #00ca74;
}

.button3:hover,
.button3:focus{
  background-color: #00bc6c;
}

.button3:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

.button4{
  width: 160px;
  height: 50px;
  vertical-align: middle;
  background-color: #efc84a;
}

.button4:hover,
.button4:focus{
  background-color: #eab534;
}

.button4:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}

.Vk{
  display: flex;
  width: 79px;
  height: 79px;
  background-image: url(../img/vk-icon.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e1e1e1;
  border-radius: 40px;
}

.Vk:hover,
.Vk:focus{
  display: flex;
  width: 79px;
  height: 79px;
  background-image: url(../img/vk-icon_focus.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e74246;
  border-radius: 40px;
}

.Vk:active{
  display: flex;
  width: 79px;
  height: 79px;
  background-image: url(../img/vk-icon_active.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d7373b;
  border-radius: 40px;
}

.Fb{
  display: flex;
  width: 79px;
  height: 79px;
  background-image: url(../img/fb-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e1e1e1;
  border-radius: 40px;
}

.Fb:hover,
.Fb:focus{
  display: flex;
  width: 79px;
  height: 79px;
  background-image: url(../img/fb-icon_focus.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e74246;
  border-radius: 40px;
}

.Fb:active{
  display: flex;
  width: 79px;
  height: 79px;
  background-image: url(../img/fb-icon_active.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d7373b;
  border-radius: 40px;
}

.Insta{
  display: flex;
  width: 79px;
  height: 79px;
  background-image: url(../img/insta-icon.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e1e1e1;
  border-radius: 40px;
}

.Insta:hover,
.Insta:focus{
  display: flex;
  width: 79px;
  height: 79px;
  background-image: url(../img/insta-icon_focus.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e74246;
  border-radius: 40px;
}

.Insta:active{
  display: flex;
  width: 79px;
  height: 79px;
  background-image: url(../img/insta-icon_active.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d7373b;
  border-radius: 40px;
}

.main-footer li{
  list-style: none;
}

.main-footer p{
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  text-align: left;
}

.main-footer span{
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  text-align: left;
  color: #444444;
}

.shop{
  font-size: 55px;
  font-weight: normal;
  line-height: 55px;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
}

.services-list li{
  list-style: none;
}

.grid,
.features{
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.checkbox{
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-align: left;
  color: #283136;
}

.show-btn{
  font-size: 16px;
  line-height: 18px;;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  width: 260px;
  height: 50px;
  vertical-align: left;
  background-color: #eeeeee;
}

.show-btn:hover,
.show-btn:focus{
  background-color: #dfdfdf;
}

.show-btn:active{
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}
