body{
  margin: 140px;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
}

a{
  text-decoration: none;
}

a.logo{
  background: url("../img/nerds-logo.svg");
  display: block;
  height: 65px;
  width: 160px;
}

a.logo:hover,
a.logo:focus{
  background: url("../img/nerds-logo_focus.svg");
  pacity: 0.8;
  display: block;
  height: 65px;
  width: 160px;
}

a.logo:active{
  background: url("../img/nerds-logo_active.svg");
  opacity: 0.3;
  display: block;
  height: 65px;
  width: 160px;
}

header{
  background-color: #eeeeee;
}

.menu li{
  line-height: 30px;
  text-transform: uppercase;
  list-style: none;
}

.menu:hover,
.cart:hover,
.menu:focus,
.cart:focus{
  color: #fb565a;
}

.menu:active,
.cart:active{
  color: rgba(0, 0, 0, 0.3);
}

.cart{
  line-height: 30px;
  text-transform: uppercase;
  display: flex;
}

.cart::before{
  display: flex;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: left;
  align-self: center;
}

.visually-hidden{
  visibility: hidden;
}

.service-item__title{
  font-family: inherit;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.service-item__text{
  color: #283136;
  text-align: left;
}

.service-item__btn{
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.service-item--website::before{
  display: flex;
  content: "";
  width: 300px;
  height: 146px;
  background-image: url(../img/advantage-picture-red.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
}

.service-item--app::before{
  display: flex;
  content: "";
  width: 300px;
  height: 146px;
  background-image: url(../img/advantage-picture-green.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
}

.service-item--preza::before{
  display: flex;
  content: "";
  width: 300px;
  height: 146px;
  background-image: url(../img/advantage-picture-yellow.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
}

.service-item__btn{
  display: block;
  width: 160px;
  height: 50px;
  vertical-align: middle;
}

.service-item__btn--website{
    background-color: #fb565a;
}

.service-item__btn--website:hover,
.service-item__btn--website:focus{
  background-color: #e74246;
}

.service-item__btn--website:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.service-item__btn--app{
  background-color: #00ca74;
}

.service-item__btn--app:hover,
.service-item__btn--app:focus{
  background-color: #00bc6c;
}

.service-item__btn--app:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

.service-item__btn--preza{
  background-color: #efc84a;
}

.service-item__btn--preza:hover,
.service-item__btn--preza:focus{
  background-color: #eab534;
}

.service-item__btn--preza:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}

.Vk{
  display: flex;
  color: transparent;
  width: 79px;
  height: 79px;
  background-image: url(../img/vk-icon.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e1e1e1;
  border-radius: 40px;
}

.Vk:hover,
.Vk:focus{
  display: flex;
  width: 79px;
  height: 79px;
  background-image: url(../img/vk-icon_focus.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e74246;
  border-radius: 40px;
}

.Vk:active{
  display: flex;
  width: 79px;
  height: 79px;
  background-image: url(../img/vk-icon_active.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d7373b;
  border-radius: 40px;
}

.Fb{
  display: flex;
  color: transparent;
  width: 79px;
  height: 79px;
  background-image: url(../img/fb-icon.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e1e1e1;
  border-radius: 40px;
}

.Fb:hover,
.Fb:focus{
  display: flex;
  width: 79px;
  height: 79px;
  background-image: url(../img/fb-icon_focus.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e74246;
  border-radius: 40px;
}

.Fb:active{
  display: flex;
  color: transparent;
  width: 79px;
  height: 79px;
  background-image: url(../img/fb-icon_active.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d7373b;
  border-radius: 40px;
}

.Insta{
  display: flex;
  color: transparent;
  width: 79px;
  height: 79px;
  background-image: url(../img/insta-icon.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e1e1e1;
  border-radius: 40px;
}

.Insta:hover,
.Insta:focus{
  display: flex;
  width: 79px;
  height: 79px;
  background-image: url(../img/insta-icon_focus.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e74246;
  border-radius: 40px;
}

.Insta:active{
  display: flex;
  width: 79px;
  height: 79px;
  background-image: url(../img/insta-icon_active.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #d7373b;
  border-radius: 40px;
}

.footer__social-net{
  list-style: none;
}

.footer__promo{
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  text-align: left;
}

.footer__promo span{
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  text-align: left;
  color: #444444;
}

.shop{
  font-size: 55px;
  font-weight: normal;
  line-height: 55px;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
}

.portfolio li{
  list-style: none;
}

.portfolio-product::before{
  display: block;
  content: "";
  width: 360px;
  height: 40px;
  background-image: url(../img/browser.svg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top;
}

.filter-grid__title,
.filter-features__title{
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.checkbox{
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-align: left;
  color: #283136;
}

.filter-btn{
  font-size: 16px;
  line-height: 18px;;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  width: 260px;
  height: 50px;
  vertical-align: left;
  background-color: #eeeeee;
}

.filter-btn:hover,
.filter-btn:focus{
  background-color: #dfdfdf;
}

.filter-btn:active{
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
}
