body{
  margin: 140px;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #000000;
  text-transform: none;

  background-color: #ffffff;
}

a{
  text-decoration: none;
}

a.logo{
  background: url("img/nerds-logo.svg");
  display: block;
  height: 65px;
  width: 160px;
}

a.logo:hover,
a.logo:focus{
  background: url("img/nerds-logo_focus.svg");
  display: block;
  height: 65px;
  width: 160px;
}

a.logo:active{
  background: url("img/nerds-logo_active.svg");
  display: block;
  height: 65px;
  width: 160px;
}

header{
  background-color: #eeeeee;
}

.main-navigation li{
  line-height: 30px;
  text-transform: uppercase;
  list-style: none;
}

.menu:hover,
.menu:focus{
  color: #fb565a;
}

.menu:active{
  color: rgba(0, 0, 0, 0.3);
}

h1,
.services{
  display: none;
}

.service-item p{
  color: #283136;
  text-align: left;
}

.service-item h3{
  font-family: inherit;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
}

.service-item a{
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.button2{
  vertical-align: middle;
  background-color: #fb565a;
}

.button2:hover,
.button2:focus{
  background-color: #e74246;
}

.button2:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.button3{
  vertical-align: middle;
  background-color: #00ca74;
}

.button3:hover,
.button3:focus{
  background-color: #00bc6c;
}

.button3:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #00aa62;
}

.button4{
  vertical-align: middle;
  background-color: #efc84a;
}

.button4:hover,
.button4:focus{
  background-color: #eab534;
}

.button4:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: #e5a722;
}

.main-footer li{
  list-style: none;
}

.main-footer p{
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
  text-align: left;
}

.main-footer span{
  font-size: 16px;
  font-weight: normal;
  line-height: 22px;
  text-align: left;
  color: #444444;
}

.shop{
  font-size: 55px;
  font-weight: normal;
  line-height: 55px;
  text-align: center;
  color: #000000;
  background-color: #eeeeee;
}

.services-list li{
  list-style: none;
}
